name: Build Apps

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pyinstaller ^
          --add-data "WZORY;WZORY" ^
          --add-data "gui_interface/robot.ico;gui_interface/robot.ico" ^
          --icon=gui_interface/robot.ico ^
          --windowed ^
          -n "GeneratorListyPrzeszk贸d" ^
          main.py
    - uses: actions/upload-artifact@v3
      with:
        name: windows-app
        path: dist/GeneratorListyPrzeszk贸d.exe

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pyinstaller \
          --add-data "WZORY:WZORY" \
          --add-data "gui_interface/robot.icns:gui_interface/robot.icns" \
          --icon=gui_interface/robot.icns \
          --windowed \
          --name "GeneratorListyPrzeszk贸d" \
          main.py
    - name: Rename .app for artifact upload
      run: |
        mv dist/Generator\ Listy\ Przeszk贸d.app dist/Generator_Listy_Przeszkod.app
    - uses: actions/upload-artifact@v3
      with:
        name: macos-app
        path: dist/GeneratorListyPrzeszkod.app
